/*body{
	background: url('../images/day-sky.svg') no-repeat;
}*/
@font-face {
    font-family: 'Robotothin';
    src: url('../fonts/Roboto-Thin-webfont.eot');
    src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
         url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Thin-webfont.svg#../fonts/Robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'DK Cool Crayon';
	src: url('../fonts/DK Cool Crayon.eot');
	src: local('☺'), url('../fonts/DK Cool Crayon.woff') format('woff'), url('../fonts/DK Cool Crayon.ttf') format('truetype'), url('../fonts/DK Cool Crayon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'LittleMissPriss';
	src: url('../fonts/LittleMissPriss.eot');
	src: local('☺'), url('../fonts/LittleMissPriss.woff') format('woff'), url('../fonts/LittleMissPriss.ttf') format('truetype'), url('../fonts/LittleMissPriss.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
#header{
	background: rgba(26,26,26,1.2);/*#374046;*/
	font-family: Robotothin;
	color: #fff;
	box-shadow: 2px 2px 2px #000;
	height: 70px;
	width: 100%;
	position: fixed;
	z-index: 3;
}
	.start{
		float: right;
		margin: 12px 40px 0 0;
		background: transparent;
		outline: none;
		border: 2px solid #fff;
		font-family: LittleMissPriss;
		font-size: 20px;
		letter-spacing: 5px;
		padding: 8px;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}
	.start:hover{
		color: #344;
		background: #fff;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}
@media screen and (max-width: 600px){
	.start{
		float: right;
		margin: 12px 40px 0 0;
		background: transparent;
		outline: none;
		border: 2px solid #fff;
		font-family: LittleMissPriss;
		font-size: 20px;
		letter-spacing: 5px;
		padding: 8px;
		text-transform: lowercase;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}
	.start:hover{
		color: #344;
		background: #fff;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}
}
@media screen and (max-width: 400px){
	.start{
		display: none;
	}
}
#logobackground{
	background: url('../images/background.jpg') 50% 43% no-repeat;/*#FFF2A6 */
	height: 570px;
	padding-top:70px;
}
.quotation{
	margin-top: 70px;
	font-family: Robotothin;
	text-align: right;
	font-size: 20px;
	color: #fff;
	z-index: 1;
}
.aboutIntegrity1{
	width: 50%;
	min-height: 300px;
	height: 320px;
	float: left;
	background: #ebecee;
	overflow: hidden;
	transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
}
.aboutIntegrity2{
		width: 50%;
		min-height: 300px;
		height: 320px;
		float: left;
		background: #f26c51;
		overflow: hidden;
		transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
	}
@media screen and (max-width: 1100px){
	.aboutIntegrity1{
		width: 50%;
		height: 350px;
		float: left;
		background: #ebecee;
		padding-bottom: 30px;
		transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
	}
	.aboutIntegrity2{
		width: 50%;
		height:  350px;
		float: left;
		background: #f26c51;
		padding-bottom: 30px;
		transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
	}
}
@media screen and (max-width: 1024px){
	.aboutIntegrity1{
		width: 50%;
		height: 400px;
		float: left;
		background: #ebecee;
		padding-bottom: 30px;
		transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
	}
	.aboutIntegrity2{
		width: 50%;
		height:  400px;
		float: left;
		background: #f26c51;
		padding-bottom: 30px;
		transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
	}
}
@media screen and (max-width: 900px){
	.aboutIntegrity1{
		width: 50%;
		height: 400px;
		float: left;
		background: #ebecee;
		padding-bottom: 30px;
		transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
	}
	.aboutIntegrity2{
		width: 50%;
		height:  400px;
		float: left;
		background: #f26c51;
		padding-bottom: 30px;
		transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
	}
}
@media screen and (max-width: 850px){
	.aboutIntegrity1{
		width: 100%;
		height: 360px;
		float: left;
		background: #ebecee;
		padding-bottom: 30px;
		transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
	}
	.aboutIntegrity2{
		width: 100%;
		height:  360px;
		float: left;
		background: #f26c51;
		padding-bottom: 30px;
		transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
	}
}
@media screen and (max-width: 782px){
	.aboutIntegrity1{
		width: 100%;
		height: 370px;
		float: left;
		background: #ebecee;
		padding-bottom: 30px;
		transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
	}
	.aboutIntegrity2{
		width: 100%;
		height:  350px;
		float: left;
		background: #f26c51;
		padding-bottom: 30px;
		transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
	}
}
@media screen and (max-width: 602px){
	.aboutIntegrity1{
		width: 100%;
		height: 380px;
		float: left;
		background: #ebecee;
		padding-bottom: 30px;
		transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
	}
	.aboutIntegrity2{
		width: 100%;
		height:  400px;
		float: left;
		background: #f26c51;
		padding-bottom: 30px;
		transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
	}
}
@media screen and (max-width: 500px){
	.aboutIntegrity1{
		width: 100%;
		height: 400px;
		float: left;
		background: #ebecee;
		padding-bottom: 30px;
		transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
	}
	.aboutIntegrity2{
		width: 100%;
		height:  400px;
		float: left;
		background: #f26c51;
		padding-bottom: 30px;
		transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
	}
}
@media screen and (max-width: 400px){
	.aboutIntegrity1{
		width: 100%;
		height: 450px;
		float: left;
		background: #ebecee;
		padding-bottom: 30px;
		transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
	}
	.aboutIntegrity2{
		width: 100%;
		height:  400px;
		float: left;
		background: #f26c51;
		padding-bottom: 30px;
		transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
	}
}
@media screen and (max-width: 350px){
	.aboutIntegrity1{
		width: 100%;
		height: 520px;
		float: left;
		background: #ebecee;
		padding-bottom: 30px;
		transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
	}
	.aboutIntegrity2{
		width: 100%;
		height:  400px;
		float: left;
		background: #f26c51;
		padding-bottom: 30px;
		transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
	}
}
@media screen and (max-width: 300px){
	.aboutIntegrity1{
		width: 100%;
		height: 550px;
		float: left;
		background: #ebecee;
		padding-bottom: 30px;
		transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
	}
	.aboutIntegrity2{
		width: 100%;
		height:  400px;
		float: left;
		background: #f26c51;
		padding-bottom: 30px;
		transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
	}
}
.title{
	font-size: 30px;
	padding: 50px 0 10px 20px;
	font-family: Robotothin;
}
.title2{
	font-size: 30px;
	padding: 50px 0 10px 20px;
	font-family: Robotothin;
	color: #fff;
}
.infointegrity{
	font-size: 19px;
	padding: 0 15px 0 20px;
	font-family: Robotothin;
	color: #000;
}
.infointegrity2{
	color: #fff;
	font-size: 17px;
	padding: 0 15px 10px 20px;
	font-family: Robotothin;
}
#logo{
	width: 200px;
}
#sectionContainer{
	display: none;
	background: url('../images/chalkboard.png') no-repeat;
	padding: 10px;
	border:1px solid #000;
	height: 520px;
	margin-bottom: 30px;
}
.question{	
	color: #fff;
	font-size: 30px;
}
.award{
	overflow-x: hidden; 
	margin-top: 60px;
	margin-left: 30px;
	-moz-transform: rotate(-25deg);
	-ms-transform: rotate(-25deg);
	-webkit-transform: rotate(-25deg);
	transform: rotate(-25deg);
	width: 200px;
}
@media screen and (max-width: 782px){
	.award{
	overflow-x: hidden;
	margin: 0 70%;
	-moz-transform: rotate(-25deg);
	-ms-transform: rotate(-25deg);
	-webkit-transform: rotate(-25deg);
	transform: rotate(-25deg);
	width: 200px;
}
}
.aboutus{
	background: #428bca;
	padding-bottom: 20px;
}
.aboutCentral{
	color: #fff;
	font-family: Robotothin;
	font-size: 30px;
}
.p1{
	padding-top: 30px;
}
.ourNames{
	font-size: 20px;
	height: auto;
	margin-top: 40px;
}
@media screen and (max-width: 500px){
	.p1{
	padding-top: 60px;
}
	.ourNames{
	font-size: 20px;
	height: auto;
}
}
.ourlinks{
	text-decoration: none;
	color: #fff;
	transition: all 0.5s;
}
.ourlinks:hover{
	text-decoration: none;
	transition: all 0.5s;
}
.contactUs{
	font-size: 19px;
	padding: 30px 20px 40px 20px;
}
/*InnerContainer page which is after the game is started, the css starts here*/
#innerContainer{
	background: url('../images/class.jpg') 47% 0 no-repeat;
}
.shareOn{
	float: right;
	margin-right: 30px;
	margin-top: 20px;
}
@media screen and (max-width: 350px){
	.shareOn{
	display: none;
}
}
.topOfBoard{
	color: #fff;
	font-family: DK Cool Crayon;
	font-size: 25px;
	padding: 10px;
}
.score{
	text-align: right;
	transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
}
.date1{
	text-align: left;
	transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
}
@media screen and (max-width: 300px){
	.score{
		text-align: center;
		transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-webkit-transition: all 500ms ease-in-out;
	}
	.date1{
		display: none;
		transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-webkit-transition: all 500ms ease-in-out;
	}	
}
@media screen and (max-width: 400px){
	.score{
		text-align: center;
		transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-webkit-transition: all 500ms ease-in-out;
	}
	.date1{
		display: none;
		transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-webkit-transition: all 500ms ease-in-out;

	}	
}
@media screen and (max-width: 500px){
	.score{
		text-align: center;
		padding-bottom: 6px;
		transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-webkit-transition: all 500ms ease-in-out;
	}
	.date1{
		display: none;
		transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-webkit-transition: all 500ms ease-in-out;

	}	
}
@media screen and (max-width: 550px){
	.score{
		text-align: center;
		padding-bottom: 8px;
		transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-webkit-transition: all 500ms ease-in-out;
	}
	.date1{
		display: none;
		transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-webkit-transition: all 500ms ease-in-out;
	}	
}
@media screen and (max-width: 600px){
	.score{
		text-align: center;
		padding-bottom: 8px;
		transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-webkit-transition: all 500ms ease-in-out;
	}
	.date1{
		display: none;
		transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-webkit-transition: all 500ms ease-in-out;
	}	
}
@media screen and (max-width: 650px){
	.score{
		text-align: center;
		padding-bottom: 8px;
		transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-webkit-transition: all 500ms ease-in-out;
	}
	.date1{
		display: none;
		transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-webkit-transition: all 500ms ease-in-out;
	}	
}
@media screen and (max-width: 700px){
	.score{
		text-align: center;
		padding-bottom: 10px;
		transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-webkit-transition: all 500ms ease-in-out;
	}
	.date1{
		display: none;
		transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-webkit-transition: all 500ms ease-in-out;
	}	
}
@media screen and (max-width: 800px){
	.score{
		text-align: center;
		padding-bottom: 12px;
		transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-webkit-transition: all 500ms ease-in-out;
	}
	.date1{
		display: none;
		transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-webkit-transition: all 500ms ease-in-out;
	}	
}
@media screen and (max-width: 900px){
	.score{
		text-align: right;
		padding-bottom: 14px;
		transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-webkit-transition: all 500ms ease-in-out;
	}
	.date1{
		display: none;
		transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-webkit-transition: all 500ms ease-in-out;
	}	
}
@media screen and (max-width: 1000px){
	.score{
		text-align: right;
		padding-bottom: 20px;
		transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-webkit-transition: all 500ms ease-in-out;
	}
	.date1{
		display: none;
		transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-webkit-transition: all 500ms ease-in-out;
	}	
}
#field{
	background: url('../images/blackboard.jpg') no-repeat;
	margin: 100px 0;
	box-shadow: 2px 2px 3px rgba(0, 104, 91, 1);
	border-radius: 2px;
}
.question{
	font-family: DK Cool Crayon;
	font-size: 5rem;
	color: #fff;
	text-align: center;
	padding: 30px 10px 0 10px;
}
.answer{
	padding: 50px;
	text-align: center;
	font-family: DK Cool Crayon;
	color: #fff;
	width: 80%;
	margin: 0 auto;
}
.answeroption{
	font-family: DK Cool Crayon;
	background: none;
	font-size: 3.5rem;
	color: #fff;
	cursor: hand;
	outline: none;
	border: 1px solid #fff;
	cursor: pointer;
	padding: 10px;
	border-radius: 10px/9px;
	margin: 5px;
	transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-webkit-transition: all 200ms ease-in-out;
}
.answeroption:hover{
	background: #fff;
	color: #19322F;
	transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-webkit-transition: all 200ms ease-in-out;
}
@media screen and (max-width: 700px){
	.question{
	font-family: DK Cool Crayon;
	font-size: 4.5rem;
	color: #fff;
	text-align: center;
	padding: 30px 10px 0 10px;
}
	.answer{
	padding: 50px;
	text-align: center;
	font-family: DK Cool Crayon;
	color: #fff;
	width: 80%;
	margin: 0 auto;
}
.answeroption{
	font-family: DK Cool Crayon;
	background: none;
	font-size: 3rem;
	color: #fff;
	cursor: hand;
	outline: none;
	border: 1px solid #fff;
	cursor: pointer;
	padding: 10px;
	border-radius: 10px/9px;
	margin: 5px;
	overflow: hidden;
}
}
@media screen and (max-width: 500px){
	.question{
	font-family: DK Cool Crayon;
	font-size: 3rem;
	color: #fff;
	text-align: center;
	padding: 30px 10px 0 10px;
}
	.answer{
	padding: 50px;
	text-align: center;
	font-family: DK Cool Crayon;
	color: #fff;
	width: 80%;
	margin: 0 auto;
}
.answeroption{
	font-family: DK Cool Crayon;
	background: none;
	font-size: 2rem;
	color: #fff;
	cursor: hand;
	outline: none;
	border: 1px solid #fff;
	cursor: pointer;
	padding: 10px;
	border-radius: 10px/9px;
	margin: 5px;
	overflow: hidden;
}
}
.adminform{
	margin-top: 100px;
}

/*CMS page for admin starts here*/
.signoff{
	float: right;
	margin-right: 20px;
	font-size: 20px;
	border: 1px solid #fff;
	color: #fff;
	padding: 8px;
	margin-top: 12px;
	font-family: LittleMissPriss;
	letter-spacing: 5px;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
	transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
}
.signoff:hover{
	background: #fff;
	color: #000;
	transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
}
.welcomeAdmin{
	font-family: Robotothin;
	color: #000;
	font-size: 40px;
	margin: 40px 0; 
}
/*.inputhere{
	margin-top: 100px;
}
.options{
	border: 1px solid #000;
}*/
th,td{
	vertical-align: middle;
	margin: 3px 20px;
	font-size: 15px;
}
.editbyAdmin{
	margin-top: 100px;
}

/*Page to insert questions starts here*/
.answertextarea{
	width: 100px;
}
.radiobutton{
	padding: 20px;
	margin: 30px;
	border: 1px solid #000;
}
.scoreBoard{
	text-align: center;
	color: #fff;
	font-size: 40px;
	font-family: DK Cool Crayon;
	padding: 20px 0;
}
.yourScore, .averageScore{
	margin: 20px 20px;
	font-family: DK Cool Crayon;
	color: #fff;
	font-size: 40px;
	text-align: center;
}
.sharehere{
	font-family: DK Cool Crayon;
	color: #fff;
	font-size: 40px;
	width: 46%;
	margin: 0 auto;
	min-height: 190px;
	padding: 40px 0;
}
.shareimagefb{
	margin: 0 auto;
	width:81px;
}
.shareimagetw{
	margin: 0 auto;
	width:70px;
}
@media screen and (max-width: 700px){
	.scoreBoard{
	text-align: center;
	color: #fff;
	font-size: 30px;
	font-family: DK Cool Crayon;
	padding: 15px 0; 
}
.yourScore, .averageScore{
	margin: 15px 20px;
	font-family: DK Cool Crayon;
	color: #fff;
	font-size: 30px;
	text-align: center;
	padding-top: 20px;
}
.sharehere{
	font-family: DK Cool Crayon;
	color: #fff;
	font-size: 30px;
	width: 46%;
	margin: 0 auto;
	min-height: 110px;
	text-align: center;
	padding: 40px 0;
}
.shareimagefb{
	margin: 0 auto;
	width:81px;
	display: inline;
}
.shareimagetw{
	margin: 0 auto;
	display: inline;
	width:70px;
}
}
